### Session02 (Basics)

#### Casting

In [7]:
# int()
# float ------> int
number1 = 12.999
number1 = int(number1)
print(number1)
# bool -------> int
flag1 = False 
flag2 = True
print(int(flag1), int(flag2))
# str ------> int 
number1 = "123"
number2 = '28'
print(int(number1) + int(number2))
name = "p1"
number1 = "12.9"
print(int(number1))

12
0 1
151

ValueError: invalid literal for int() with base 10: '12.9'

In [11]:
# float()
# int -------> float
number1 = 12
print(float(number1))
# bool ------> float 
flag1 = False
flag2 = True
print(float(flag1), float(flag2))
# str ------> float
number1 = "12"
print(float(number1))
number2 = "18.5"
print(float(number2))

12.0
0.0 1.0
12.0
18.5

In [12]:
number1 = "12.9"
number1 = float(number1)
print(number1)
print(int(number1))

12.9
12

In [14]:
number1 = "12.9"
print(int(float(number1)))

12

In [15]:
number1 = "1a"
print(float(number1))

ValueError: could not convert string to float: '1a'

In [ ]:
# str()
age = 10
age = str(age)
score = 18.6
score = str(score)
flag = True
flag = str(flag)
print(age, type(age))
print(score, type(score))
print(flag, type(flag))

10 <class 'str'>
18.6 <class 'str'>
True <class 'str'>

#### boolean

In [24]:
# bool()
# int -------> bool
number1 = 1200
number2 = -10000
print(bool(number1), bool(number2))
number3 = 0
print(bool(number3))

True True
False

In [25]:
# float -----> bool
score1 = 19.3
score2 = 16.0
score3 = 0.0
print(bool(score1), bool(score2), bool(score3))

True True False

In [28]:
# str -----> bool 
name = "python"
flag = "True"
flag1 = "False"
print(bool(name), bool(flag), bool(flag1))
str1 = ""
print(bool(str1))

True True True
False

In [ ]:
var1 = 0.0 or 0 or "" or "java"
print(var1)

java

In [34]:
name = input("enter your name: ")
name = name or "Guest"
print(name)

Guest

In [36]:
color = input("enter your color: ") or "black"
print(color)

blue